<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"></head>
        <body>
            {{>header}}
            <img class="potrait" src="/img/robot.png"> 
            {{>footer}}
        </body>
</html>